#author_list {
    margin-top: 60px;

    .author_header {
        font-size: 25px;
        font-family: var(--app_font);
        line-height: 35px;
        text-align: center;
    }

    .author_list {

        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 26px;

        @include custom_media(768px, 991.9px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        @include custom_media(576px, 767.9px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        @include custom_media(320px, 575.9px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .author_card {

            width: 296px;
            padding: 30px 35px;
            text-align: center;
            background-color: #F4F0F8;

            &:hover {
                background-color: var(--brand_light);
            }

            @include custom_media(768px, 991.9px) {
                width: 335px;
            }

            @include custom_media(576px, 767.9px) {
                width: 255px;
            }

            @include custom_media(320px, 575.9px) {
                width: 275px;
            }

            .author_img {
                max-width: 100%;
                object-fit: cover;
                object-position: center;
            }

            .author_name {
                font-size: 20px;
                font-family: var(--app_font);
                line-height: 30px;
                color: var(--black_deep);
            }

            .author_email {
                font-family: var(--app_font);
                font-size: 16px;
                line-height: 20px;
                color: var(--black_deep);
            }

            .social_icon {
                padding-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
            }
        }

    }

    .logo_list {
        margin-top: 60px;
        display: flex;
        flex-wrap:wrap;
        gap: 20px;
        justify-content: space-between;
        @include custom_media(320px, 991.9px) {
            gap: 25px;
            justify-content: center;
        }
       
        .logo_image {
            max-width: 100%;
            object-fit: cover;
        }
    }
}