.container {
    width: 1200px;
    margin: auto;
    @include xs() {
        width: 100%;
    }

    @include sm() {
        width: 100%;
    }

    @include md() {
        width: calc(768px - 30px);

    }

    @include lg() {
        width: calc(992px - 30px);
    }

    @include xl() {
        width: calc(1200px - 30px);

    }

    @include xxl() {
        width: calc(1400px - 30px);

    }
}

.container-fluid {
    max-width: 1440px;
    margin: auto;
    @include xs() {
        width: calc(100%);
    }

    @include sm() {
        width: calc(100%);
    }

    @include md() {
        width: calc(100%);

    }

    @include lg() {
        width: calc(100%);
    }

    @include xl() {
        width: calc(100%);

    }

    @include xxl() {
        width: calc(100%);

    }
}