header {

    .header_body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .logo {


            img {
                padding-top: 25px;
                padding-bottom: 25px;
                width: 140px;
            }

        }

        .nav_button {
            display: flex;
            gap: 30px;

            .nav {

                ul {
                    margin-top: 26px;
                    margin-bottom: 26px;
                    display: flex;
                    gap: 24px;

                    li {
                        a {
                            color: var(--white);
                            font-size: 16px;
                            font-style: var(--Inter_Medium);
                            line-height: 27px;

                            &:hover {
                                color: var(--brand_deep);
                            }
                        }
                    }
                }
            }

            .Subscribe {
                button {
                    margin-top: 12px;
                    margin-bottom: 12px;
                    font-size: 18px;
                    padding: 16px 48px;
                    background: var(--white);
                    color: var(--black_deep);
                    font-family: var(--sen_semibold);

                    &.active,
                    &:hover {
                        background: var(--brand_deep);
                    }
                }
            }
        }

    }
}